html {
  height: 100%;
  background-color: rgba(221, 241, 255, 0.8);
}

/*set for the white background with colored margins look*/
body {
  font-size: 100%; 
  width: 80%;
  height: 100%;
  margin: auto;
  font-family: 'Raleway', sans-serif;
  background-color: white;
}

/*prevents items in the header from collapsing since all children are floated*/
.clearfix:after{
    content:"";
    display:block;
    clear:both;
}

header {
  padding: 1rem 2rem 1rem 0rem;
}

/*info refers to the links and phone/email in the header*/
#info {
  width: 35%;
  font-size: 110%;
  line-height: 2rem;
  padding-top: 2rem;
  padding-left: 6rem;
  color: cadetblue;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

/*when hovering over links in the header change color and underline*/
#info a:hover {
  text-decoration: underline;
  color: rgb(47, 90, 112);
}

/* #heading refers to name and subtitle in header*/
#heading {
  width: 50%;
  float: left;
  padding-left: 2rem;
}

#heading h3 {
  font-style: italic;
  letter-spacing: 0.1rem;
}

/*includes all the main sections of the resume under the header*/
article {
  clear: both;
  padding: 0 2rem 2rem 2rem;
  background-color: white;
}

h1 {
  font-size: 300%;
  padding-top: 2rem;
  padding-bottom: 1rem;
  color: rgb(57, 99, 127);
}

/*responsive design to contain image so image is 100% the width of container*/
/*#img-container {
  width: 13%;
  float: left;
}*/

/*img {
  max-width: 100%;
  border-radius: 50%;
}*/

a {
  text-decoration: none;
  color: cadetblue;
}

/*overrides the color assignment for general links*/
nav a {
  color: white;
  font-size: 110%;
}

article h2 {
  color: rgb(57, 99, 127);
  padding-top: 1.5rem;
}

nav {
  padding: 1rem;
  background-color: cadetblue;
}

/*makes list items in the nav behave like items in a flexbox so I can space them equally and easily*/
nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 1rem;
}

/*takes care of italacizing the degrees in edu*/
span {
  font-style: italic;
  font-weight: normal;
}

h3 {
  letter-spacing: 0.1rem;
  color: cadetblue;
}

/*italicized the position subtitle in experience section*/
#experience p {
  font-style: italic;
}

/*bolds the university name in edu section*/
.edu {
  font-weight: bold;
  line-height: 1.5rem;
}

/*#projects ul {
  padding-top: 0rem;
}*/

/*creates space between the font awesome icon the words to the right of it*/
i {
  padding-right: 0.5rem;
}

/*styles for the animated skills bar*/
.skillbar {
	position: relative;
	display: block;
	margin-bottom: 0.8rem;
	width: 100%;
	background: #eee;
	height: 2.2rem;
	border-radius: 0.16rem;
	-moz-border-radius: 0.16rem;
	-webkit-border-radius: 0.16rem;
	-webkit-transition: 0.4s linear;
	-moz-transition: 0.4s linear;
	-ms-transition: 0.4s linear;
	-o-transition: 0.4s linear;
	transition: 0.4s linear;
	-webkit-transition-property: width, background-color;
	-moz-transition-property: width, background-color;
	-ms-transition-property: width, background-color;
	-o-transition-property: width, background-color;
	transition-property: width, background-color;
}

.skillbar-title {
	position: absolute;
	top: 0;
	left: 0;
    width: 12%;
	font-weight: bold;
	font-size: 90%;
	color: white;
	background: rgba(47, 90, 112, 0.75);
	-webkit-border-top-left-radius: 0.16rem;
	-webkit-border-bottom-left-radius: 0.2rem;
	-moz-border-radius-topleft: 0.16rem;
	-moz-border-radius-bottomleft: 0.16rem;
	border-top-left-radius: 0.16rem;
	border-bottom-left-radius: 0.16rem;
}

.skillbar-title span {
	display: block;
	background: rgba(0, 0, 0, 0.1);
	padding: 0 0.6rem;
	height: 2.2rem;
	line-height: 2.2rem;
	-webkit-border-top-left-radius: 0.16rem;
	-webkit-border-bottom-left-radius: 0.16rem;
	-moz-border-radius-topleft: 0.16rem;
	-moz-border-radius-bottomleft: 0.16rem;
	border-top-left-radius: 0.16rem;
	border-bottom-left-radius: 0.16rem;
}

.skillbar-bar {
	height: 2.2rem;
	width:0;
	background: rgb(184, 231, 255);
	border-radius: 0.16rem;
	-moz-border-radius: 0.16rem;
	-webkit-border-radius: 0.16rem;
}

.skill-bar-percent {
	position: absolute;
	right: 0.5rem;
	top: 0;
	font-size: 80%;
	height: 2.2rem;
	line-height: 2.2rem;
	color: white;
	color: rgba(0, 0, 0, 0.4);
}

/*start of media queries*/
@media (max-width: 1300px) {
  body {
    width: 90%;
  }
}

@media (max-width: 1150px) {
  body {
    width: 100%;
  }
}

@media (max-width: 1060px) {
  /*#heading {
    padding-left: 0;
    width: 45%;
  }*/
  
  h1 {
    padding-bottom: 0;
    padding-top: 0;
  }
  
  /*#info {
    display: block;
    width: 50%;
    float: right;
  }*/
  
  #projects ul {
    float: left;
  }
  
  html {
    background-color: white;
  }
  
  #info {
    float: left;
    width: 80%;
    padding-left: 2rem;
    margin: 0;
    font-size: 90%;
    display: block;
    line-height: 1.5rem;
  }
  
  #heading {
    float: left;
    width: 80%;
    padding-left: 2rem;
  }
}

@media(max-width: 840px) {  
  h1 {
    padding-bottom: 0;
    margin-bottom: 0;
  }
  
  h3 {
    font-size: 90%;
  }
  
  #heading h3 {
    font-size: 90%;
    padding-bottom: 1rem;
  }
  
  nav ul {
    font-size: 80%;
    padding: 0;
  }
  
  nav {
    padding: 1rem 2rem;
  }
  
  .skillbar-title {
    width: 5.5rem;
  }
  
  #experience p {
    font-size: 80%;
  }
  
  #experience ul {
    font-size: 95%;
    padding-left: 1.5rem;
  }
  
  #projects ul {
    margin-left: 1rem;
  }
}

@media(max-width: 800px) {
  /*img {
    display: none;
  }*/
  
  #heading {
    clear: both;
    width: 100%;
  }
  
  #info {
    clear: both;
    width: 100%;
  }
  
  .skillbar-title {
    width: 5.5rem;
  }
}
  
@media(max-width: 455px) {
  nav {
    padding: 1rem 0.5rem;
  }
  
  h1 {
    font-size: 200%;
  }
  
  #heading, #info {
    padding-left: 1rem;
  }
  
  article {
    padding-left: 0.5rem
  }
  
  .skillbar-title {
    font-size: 70%;
    width: 4.2rem;
  }
  
  .skillbar-title span {
    padding-left: 0.5rem;
  }
}

@media(max-width: 325px) {
  nav {
    font-size: 80%;
    padding: 0.5rem 0.2rem;
  }
  h1 {
    font-size: 150%;
  }
  
  h2 {
    margin-top: 0;
    font-size: 105%;
  }
  
  .skillbar-title {
    font-size: 68%;
    width: 4rem;
  }
  
  article {
    font-size: 90%;
  }
}
